!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Voluntari
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %div.container
        %h1
          %a{:href => '#', :title => 'Voluntari'} 
            = image_tag "logo.png", :class => "logo"
        %a.burger#burger{:href => "#"}
        %nav
          %ul.hidden-menu#list-menu
            %li
              %a{:href => '#'} Conoce
            %li
              %a{:href => '#'} &Uacute;nete
            %li
              %a{:href => '#'} Explora
            %li
              %a{:href => '#'} Contacto
            %li
              %a{:class => 'login', :href => '#'} Login
    = yield
    %footer
      %div.container 
        %div.row
          %div.col-sm-4 
            %div.wrap.l-logo
              %div.logo
                = image_tag "logo-white.png"
              %p Voluntari es una iniciativa gestionada por la organizaci&oacute;n sin fines de lucro Sumak Qausay Comunicaci&oacute;n Social.
          %div.col-sm-4 
            %div.wrap.l-contact
              %h2 Contacto
              %ul
                %li
                  %i.location-icon
                  %p Av. San Borja Sur #670
                  %p San Borja - Lima Per&uacute;
                %li
                  %i.phone-icon
                  %p (51) 947126358
                  %p (51) 947126604
                %li
                  %i.contact-icon
                  %p contacto@voluntari.org
                  %p soporte@voluntari.org

          %div.col-sm-4 
            %div.wrap.l-leads
              %h2 Suscr&iacute;bete
              %span Tranquilo no enviaremos spam con tu email
              %form 
                %div.form-group
                  %input{:name => 'leads', :placeholder => 'E-mail', :type => 'email', :class => 'l-i-leads'}
                  %input{:type => 'button', :value => '>', :class=> 'l-btn-leads'}
                  = t('hello') 
              %div.socials-icons
                %a.circle{:href => "#"} 
                  %i.facebook-icon
                %a.circle{:href => "#"} 
                  %i.twitter-icon
                %a.circle{:href => "#"} 
                  %i.instagram-icon
                %a.circle{:href => "#"} 
                  %i.linkedin-icon
                %a.circle{:href => "#"} 
                  %i.youtube-icon
    %script{:src => '//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry'}
    %script{:src => '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'}
    :javascript
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {scrollwheel: false, zoomControl: false}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
          {
            "lat": '-12.0552581',
            "lng": '-77.0802908,13z',
            "infowindow": "Lima, Peru!"
          }
        ]);
        handler.map.centerOn(markers);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(4);
      });
    :javascript
      var setDimensions;
      setDimensions = function() {
        var windowsHeight;
        windowsHeight = $(window).height();
        $('.landing').css('height', windowsHeight + 'px');
      };
      setDimensions();

      $(window).resize(function() {
        setDimensions();
      });

