!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Voluntari
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %div.container
        %h1
          %a{:href => '#', :title => 'Voluntari'} 
            = image_tag "logo.png", :class => "logo"
        %a.burger#burger{:href => "#"}
        %nav
          %ul
            %li
              %a{:href => '#'} Conoce
            %li
              %a{:href => '#'} &Uacute;nete
            %li
              %a{:href => '#'} Explora
            %li
              %a{:href => '#'} Contacto
            %li
              %a{:class => 'login', :href => '#'} Login
    = yield
    :javascript
      var setDimensions;
      setDimensions = function() {
        var windowsHeight;
        windowsHeight = $(window).height();
        $('.landing').css('height', windowsHeight + 'px');
      };
      setDimensions();

      $(window).resize(function() {
        setDimensions();
      });

